# Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# VSCode
.vscode/

# Python packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
